
.idea/workspace.xml
.idea/ExercicisWeb.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/php.xml
Activitat validació/Explanation.txt
Bootstrap JS ad-hoc/Exemple/Exemple.html
Bootstrap JS ad-hoc/Exemple/fotos.php
